body{
    background-color:  #FFDDCA;

}
.nav-header a {
    float:right;
    display: block;
    color: #330202;
    text-align: center;
    padding: 14px 16px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 28px;
    font-family: Lobster;
    position:relative;
    top: 20px;
}




.main img {
    width: 35%;
    border-radius: 50%;
    position:absolute;
    left:-80px;
    bottom: 90%;
    float: right;
}
h3{
   
    top:30%;
    margin-left: 40px;
    font-size: 30px;
    
}
span{
    display: block ;
    margin-left: 50px;
    font-size: 20px
}
p{
font-size: 20px;
text-align: center;

top:-250px;
right:35%;
}
.content{
   font-size: 20px; 
   text-overflow: inherit;
  
   top: 70%;
   display: block;
  

}
 a:hover {
    background-color: #f33326;
    color: rgb(224, 194, 194);
}