body{
    background-color:  #FFDDCA;

}
.nav-header a {
    float:right;
    display: block;
    color: #330202;
    text-align: center;
    padding: 14px 16px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 28px;
    font-family: Lobster;
    position:relative;
    top: 20px;

}

  

.main img {
position:relative;
bottom: -150px;
left:120px;
 border: 1px solid rgb(238, 191, 191);
 border-radius: 45%;
}


h3{
   position: absolute;
    top:15%;
    left: 20%;
    margin-left: 40px;
    font-size: 30px;
    font-family: Bigshot One;
    
}
span{
    display: block ;
    margin-left: 50px;
    font-size: 20px;
    position:relative;
    top:10%;
    right:-400px;
    margin-left: 40px;
    font-size: 30px;
    font-family: Bigshot One;
}
.content p{
    position:absolute;
    top: 50%;
    right:24%;
    font-size: 25px;
   
}
.exp{
    position:absolute;
    text-overflow: inherit; 
        } 
 a:hover {
    background-color: #f33326;
    color: rgb(224, 194, 194);
}